{{#unless logged_in}}
  <div class="col-1" id="col-1">
    <h2>You-Brew-U <br />The IPA API</h2>
    <h3>Create, Share, and Consume IPA Recipes</h3>
    <br />
    <button type="button" class="w3-button w3-amber"><a href="/signup">Join Now</a></button>
  </div>
</div>
  {{/unless}}<div class="row notPushed" id="row1">
  
<div class="container">
    {{#each recipe as |recipe|}}


      <div class="recipe-card">
          <div class="card-header">
            <h2>{{recipe.recipe_name}} Recipe</h2>
          </div>
        <div class="inside-card">
          <div class="menu-card">
            <div class="card-body">
              <ul>
                <li>Beer Style: {{recipe.beer_style}}</li>
                <li>Method: {{recipe.method}}</li>
                <li>Hops: {{recipe.hops}}</li>
                <li>Ingredients: {{recipe.ingredients}}</li>
              </ul>
            </div>
          </div>
          <img src="{{recipe.image_url}}" alt="image of product" />
        </div>
      </div>

    {{/each}}
  </div>